* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: hsl(0, 0%, 13%);

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
}

header {
    width: 105%;
    height: 75px;

    background-color: hsl(0, 0%, 22%);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: fixed;
}

header a {
    color: white;
    font-size: large;
    text-decoration: none;
    margin: 50px;
}

header a:hover {
    text-decoration: underline;
}

main {
    width: 100vw;
    height: 1500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-stuff {
    width: 70%;
    height: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 4px solid hsl(0, 0%, 7%);
    background: linear-gradient(to left, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
    border-radius: 20px;

    margin-top: 100px;

    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.582);
}

#main-stuff > img {
    width: 300px;

    border-radius: 360px;
    border: 2px solid white;
    margin: 10px 10px 10px 10px;
    margin-left: 30px;
}

#main-stuff span {
    background-color: white;

    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    margin: 20px;

    text-align: center;
}

#main-stuff #text {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-stuff h1 {
    color: rgb(219, 219, 219);
}

#main-stuff #skills {
    width: 80%;
    height: 55%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#main-stuff .skill {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 90%;

    color: white;
}

#main-stuff .skill img {
    width: 90%;
    height: 45%;
}

#main-stuff .skill p {
    text-align: center;
    margin-top: 10px;
}

#education {
    margin-top: 50px;

    width: 70%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 4px solid hsl(0, 0%, 7%);
    background: linear-gradient(to left, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
    border-radius: 20px;

    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.582);
}

#education h1 {
    color: white;
    margin: 15px;
}

#education > .container {
    width: 70%;
    height: 220px;

    display: flex;
    justify-content: space-between;
}

#education > .container > div {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#education > .container > div > img {
    width: 80%;

    height: 70%;

    border-radius: 20px;
    padding: 10px;

    background-color: white;
}

#education > .container > div > p {
    text-align: center;

    color: white;

    margin: 10px;
    font-style: italic;
}

#education > .container > div > p > a {
    color: aqua;

    font-style: none;

}

#experience {
    margin-top: 50px;

    width: 70%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 4px solid hsl(0, 0%, 7%);
    background: linear-gradient(to left, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
    border-radius: 20px;

    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.582);
}

#experience h1 {
    color: white;
    margin: 15px;
}

#experience img {
    width: 100px;
    margin-bottom: 10px;
}

#experience div {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#experience div figure {
    display: flex;
    flex-direction: column;
    width: 90px;
}

#experience div figcaption {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#experience a {
    color: aqua;
    margin: 30px;
    align-self: flex-end;
    text-decoration: none;
}

#experience a:hover {
    text-decoration: underline;
}

#contact {
    margin-top: 50px;
    margin-bottom: 100px;
    
    width: 70%;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 4px solid hsl(0, 0%, 7%);
    background: linear-gradient(to left, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
    border-radius: 20px;

    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.582);
}

#contact h1 {
   color: rgb(219, 219, 219);
   margin: 10px;
}

#contact .container2 {
    width: 90%;
    height: 70%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#contact a {
    color: aqua;
    text-decoration: none;
}

#contact a:hover {
    color: aquamarine;
    text-decoration: underline;
}

#contact > p {
    color: white;
    margin: 15px;
}

.container2 .social {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: black;
    border-radius: 20px;

    color: white;
}

.container2 .social img {
    width: 60px;
    margin: 0px 20px 0px 20px;
}

.container2 .social p b {
    color: aquamarine;
}

footer {
    width: 100vw;
    height: 70px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    color:white;
}

